* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline:  0px solid transparent;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: rgb(216, 203, 203);
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  padding: 0 16px;
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1,h3 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

header h1 span{
  cursor: pointer;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note .header1 {
  font-size: 1.1em;
  margin-bottom: 6px;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note .para {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.note .edit-icon {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

.note .delete-icon {
  position: relative;
  float: left;
  border: none;
  font-size: 0.8rem;
  color: #b3b5be;
  outline: none;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 35px;
  top: 30px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #f6f7f8;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 48px !important;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #585c5f;
  position: relative;
  top: 17px;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #f1cf72;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  position: relative;
  top: 17px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  opacity: 0 !important;
}

.bm-item-list a span {
  margin-left: 10px;
  font-weight: 700;
  color: white;
  font-size: 1.15rem;
  text-decoration: none;
}

.list-delete-icon{
  position: relative;
  left: 180px;
  bottom: 27px;
  background: #f1cf72;
  border: 0;
  outline: 0px solid transparent;
}

.material-icons.md-18 { 
  font-size: 18px; 
  display: inline-block;
}

.listname-div{
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.list-header{
  border: 0 !important;
  display: inline-block;
  padding-bottom: 10px;
}

.menu-item{
  padding: 10px 0px;
  position: relative;
  right: 12px;
}

.listname-header{
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  position: relative;
  top: 15px;
}

.list-div{
  padding-top: 30px;
}

.editable-listname{
  font-weight: 700;
  color: white;
  font-size: 1.15rem;
  text-decoration: none;
  outline: 2px solid;
  outline-color: black;
}

button.list-delete-icon:focus{
  outline: 0px solid transparent;
}

div.new-list-changer{
  border-bottom: 2px solid black;
  padding-bottom: 3px;
}

div.new-list-changer:focus{
  border-bottom: 2px solid #f1cf72;
  padding-bottom: 3px;
}

[contenteditable]{
  background: white;
  color: black;
}

.close-listadder {
  position: relative;
  left: 160px;
}

.list-adder{
  position: relative;
  top: 18px;
  box-shadow: 1px;
  margin-bottom: 18px;
  font-weight: 700 !important;
  color: white;
  font-size: 1.00rem !important;
}